/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
body {
  line-height: 1;
}

/* line 35, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
ol, ul {
  list-style: none;
}

/* line 38, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
blockquote, q {
  quotes: none;
}

/* line 42, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Author's custom styles
   
   ===== to float two columns independantly:
   
      html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}
#content {
  height: 100%;
}
#left {
  float: left;
  width: 30%;
  background: red;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 0.5em;
}
#right {
  float: left;
  width: 70%;
  background: blue;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 0.5em;
}
        
   
   
   ========================================================================== */
@font-face {
  font-family: 'HARRINGT';
  src: url("../fonts/HARRINGT.TTF");
}

/* line 99, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
html {
  height: 100%;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
  background: #f0f9ff;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 105, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
html h1 {
  font-size: 2em;
}

/* ===========================
	Set variables
	=======================*/
/*================
	Classes
===================*/
/* line 133, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
body {
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  background-image: url("../img/sparkling_water.jpg");
}

/* line 142, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
header {
  position: fixed;
  top: 0;
  margin: 0;
  font-family: 'HARRINGT', arial;
  width: 100%;
  height: 6vw;
  text-align: center;
  font-size: 7vw;
  font-weight: 900;
  padding-top: 3vw;
  color: #18058a;
  text-shadow: 2px 2px 2px grey;
  background-color: #a8caea;
  box-shadow: 0px 10px 10px 0px #aac5df;
  z-index: 100;
}

/* line 160, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
.dotcom {
  font-size: .5em;
}

/* line 164, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
.envelope {
  position: relative;
  width: 1em;
  float: right;
  margin-right: 7vw;
  margin-top: -1.2em;
  z-index: 120;
}

/* line 175, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
main {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  margin-top: 8vw;
}

/* line 184, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
.header_photo {
  position: relative;
  width: 100%;
}

/* line 190, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
.intro {
  display: inline-block;
  width: 30vw;
  background-color: red;
  border: 1px solid;
  margin-top: 50px;
}

/* line 199, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
.villa_front {
  position: relative;
  margin: auto;
  margin-top: 1em;
  width: 30vw;
}

/* line 208, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
.spacephoto {
  position: relative;
  width: 25vw;
  height: auto;
  margin: 1em;
}

/* line 219, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
.sun_icon {
  position: relative;
  margin-top: -0.5em;
  left: 5vw;
  width: 1em;
  margin-left: .1em;
  height: auto;
  float: left;
}

/* line 229, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
.location {
  background-color: red;
  position: relative;
  width: 65vw;
}

/*Google Map iframe */
/* line 238, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
.mapWrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 75%;
}

/* line 245, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
.maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*end of map css */
/* line 257, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
.inside {
  background-color: red;
}

/* line 261, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
.around {
  background-color: red;
}

/* line 265, /Volumes/Macintosh HD/Users/petertavener/Dropbox/htdocs/allez-lopud/main.scss */
.photo {
  position: relative;
  width: 35%;
}
